<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="D:/code/javaLearning/code/mocktest">
            <classes>
                <class name="com.fang.RAP2Test">
                    <methods>
                        <include name="testCase1"/>
                    </methods>
                </class>
                <class name="com.fang.WorkTest">
                    <methods>
                        <include name="testCase1"/>
                        <include name="testCase2"/>
                        <include name="testCase3"/>
                        <include name="testCase4"/>
                    </methods></class>
            </classes>
        </test>
</suite>